<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Click to Get New Cat Image: </h2>
<button (click)="getList()"> Click! </button>
<p>{{ list }}</p>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="{{ list }}">Meow!</a></h2>
  </li>
</ul>

<div>
  <input type="text" placeholder="Name" name="name">
  <button type="submit" value="submit">submit</button>
  <button (click)="getUser()"> Click Get User</button>
  <p>{{ namelist }}</p>
</div>
